@import url(./comment__autor/comment__autor.css);
@import url(./comment__image/comment__image.css);
@import url(./comment__quote/comments__comment_quote.css);
.comments__comment{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

