@import url(./place__text.css);
.place__paragraph{
  width: 70%;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width : 1280px){
.place__paragraph{
  width: 79%;          
        } 
    }

@media (max-width : 1024px){
.place__paragraph{
  width: 90%;
              
          }
      }

@media (max-width : 768px){
.place__paragraph{
  font-size: 16px;
  line-height: 27px;
  width:96%;            
        }
    }
@media (max-width : 767px){
.place__paragraph{
  justify-self: center;  
  width:95%;          
              }
          }

@media (max-width : 400px){
.place__paragraph{
margin:auto;
width: 95%;
              
          }
      }