.video__content-title{
  font-size: 72px;
  line-height: 78px;
  text-align: center;
    width: 50%;
    margin: 10vw auto;
    margin-bottom: 0;
}
@media (max-width : 767px){
    .video__content-title{
  font-size: 42px;
  line-height: 46px;
    }
}
@media (max-width : 375px){
    .video__content-title{
   font-size: 32px;
   line-height: 35px;
    }
}