.video__content-title{
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  width: 50%;
  margin: 7.5% auto;
  margin-bottom: 0;
  font-weight: 900;
}
@media (max-width : 1280px){
  .video__content-title{
    width: 54.3%;
  }
}
@media (max-width : 1025px){
  .video__content-title{
    width: 69%;
  }
}
@media (max-width : 768px){
    .video__content-title{
  font-size: 42px;
  line-height: 46px;
  width:54%;
    }
}
@media (max-width : 438px){
    .video__content-title{
   font-size: 32px;
   line-height: 35px;
   width: 95%;
    }
}