.place__image{
    object-fit: cover;
    justify-self: end;
    margin-right: 40px;
    
    
}
@media (max-width: 1024px) {
.place__image {
  max-width: 85%;
  margin-left: 48px;
  margin-right: 32px;
      
    }
  }
  @media (max-width: 768px) {
.place__image {
  max-width: 89%;
  margin-left: 24px;
  margin-right: 28px;
  height: auto;
  object-fit: cover;
      
    }
  }
  @media (max-width: 767px) {
.place__image {
  justify-self: center;
  width: 100%;
  max-width: 95%;
          
        }
      }
  @media (max-width: 400px) {
.place__image {
  margin:auto;
  max-width: 100%;
      
    }
  }