@import url(./_ru/header__lang_ru.css);
@import url(./_en/header__lang_en.css);
.lang{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  color: #FFFFFF;
  margin-top:30px;
  left: 80%;
  
}
@media (max-width : 1024px){
    .lang{
    left:70%;
    }
}
@media (max-width : 768px){
    .lang{
    left:60%;
    }
}
@media (max-width : 375px){
    .lang{
    left:20%;
    }
}