@import url(./__ru/lang__ru_place_header.css);
@import url(./__en/lang__en_place_header.css);
.lang{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  color: #FFFFFF;
  margin-top:30px;
  left: 80%;
  
}
@media (max-width : 1024px){
    .lang{
    left:70%;
    }
}
@media (max-width : 768px){
    .lang{
    left:60%;
    }
}
@media (max-width : 375px){
    .lang{
    left:20%;
    }
}