.comments__quote{
  font-size: 14px;
  line-height: 24px;
  margin-left: 48px;
  width: 90%;
}
@media (max-width : 768px){
.comments__quote{
  order: 2;
  width: 45%;
  margin-top: 0;
  font-size: 16px;
  line-height: 23px;
  margin-left:0;

        
    }
}
@media (max-width : 380px){
.comments__quote{
  order: 2;
  width: 83%;
      
  }
}
