.comments__autor{
  font-size: 14px;
  line-height: 22px;
  align-self: flex-start;
  margin-left: 48px;
  font-weight: 900;
  
}
@media (max-width : 1280px){
  .comments__autor{
     margin-bottom: 102px;
           
  }
}
@media (max-width : 768px){
    .comments__autor{
        order: 1;
        align-self: auto;
        margin-bottom: 24px;
        margin-left: 0;
        

        
    }
}