.intro__list{
font-weight: bold;
font-size: 13px;
line-height: 20px;
width: 100vw;
list-style-type: none;
padding-left: 0;
}
@media (max-width : 375px){
.intro__list{
  font-size: 12px;
  line-height: 19px;
        }
    }