@import url(./__conteiner-comment/comments__conteiner-comment.css);
.comments__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    
}

@media (max-width : 768px){
    .comments__container{
    display: grid;
    grid-template-columns: 1fr;
        
    }
}