.place__title{
    width: 30vw;
    font-size: 72px;
    margin-left: 2vw;
    margin-bottom: 5%;
}

@media (max-width : 768px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        
    }
}
@media (max-width : 375px){
    .place__title{
        font-size: 32px;
        line-height: 27px;
    }
}