.place__title{
    width: 30%;
    font-size: 72px;
    margin-left: 31%;
    margin-bottom: 60px;
    margin-top: 72px;
    padding-top: 10%;
    font-weight: 900;
}
@media (max-width : 1281px){
.place__title{
  margin-left: 22%;
            
        }
    }
@media (max-width : 1024px){
.place__title{
  margin-left: 5%;
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 40px;
  margin-top: 83px;
        
    }
}

@media (max-width : 768px){
.place__title{
  font-size: 42px;
  line-height: 46px;
  margin-left: 22%;
  margin-left: 10%;
    }
}
@media (max-width : 375px){
.place__title{
  font-size: 32px;
  line-height: 27px;
  margin-left: 3%;
    }
}