.comments__container{
    display: flex;
    flex-direction: row;
    width: 83%;
    margin: auto;
    
    
}
@media (max-width : 1281px){
.comments__container{
  width: 100%;
          
      }
  }
@media (max-width : 768px){
.comments__container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
        
    }
}