@import url(./_type/video__item_type-kamchatka.css);
@import url(./_type/video__item_type-observatory.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__overlay/video__overlay.css);
@import url(./__duration/video__duration.css);
@import url(./__link/video__link.css);
@import url(./__icon/video__icon.css);

.video__item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;    
    
    color: #FFFFFF; 
           
}
@media (max-width : 768px){
.video__item{
  width: 96%;
  margin: 0 0 0 0;  
                         }
                    }
@media (max-width : 632px){
.video__item{
  width: 80%;
  justify-self: center;
                 }
                                          }
@media (max-width : 380px){
.video__item{
  width: 96%;
}
}
@media (max-width : 325px){
  .video__item{
    width: 99%;
    height: 192px;
  }
  }
