@import url(./_type/video__item_type-kamchatka.css);
@import url(./_type/video__item_type-observatory.css);
@import url(./__title/video__title.css);
@import url(./__subtitle/video__subtitle.css);
@import url(./__overlay/video__overlay.css);
@import url(./__duration/video__duration.css);
@import url(./__link/video__link.css);
@import url(./__icon/video__icon.css);

.video__item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;    
    margin: 0 2% 0 2%;
    color: #FFFFFF; 
    grid-gap: 8px;         
}
@media (max-width : 755px){
.video__item{
  width: 93%;
  margin: 0 0 0 0;
  
                         }
                    }
@media (max-width : 380px){
.video__item{
width: 100%;
}
}
