.footer__links{
  list-style-type: none; 
  display: flex;
  font-size: 24px;
  line-height: 41px;
}
@media (max-width : 900px){
.footer__links{
  font-size: 16px;
  line-height: 27px;
        }
    }
@media (max-width : 758px){
.footer__links{
  font-size: 16px;
  line-height: 27px;
  flex-direction: column;
                }
            }
@media (max-width : 758px){
.footer__links{
  font-size: 16px;
  line-height: 27px;
  flex-direction: column;
  padding-left:0;
                              }
                          }