.video__item_bg_kamchatka{
  background-image: url(../../../../images/Image_kamchatka.png);
  background-size: cover;
  position: absolute;
  width: 583px;
  height: 323px;
  left: 128px;
}
@media (max-width : 1280px){
    .video__item_bg_kamchatka{
  width: 583px;
  height: 323px;
  left: 48px;
        
    }
}
@media (max-width : 1024px){
    .video__item_bg_kamchatka{
  width: 456px;
  height: 288px;
  left: 48px;
        
    }
}
@media (max-width : 768px){
    .video__item_bg_kamchatka{
  width: 352px;
  height: 200px;
  left: 24px;
        
    }
}
@media (max-width : 375px){
    .video__item_bg_kamchatka{
position: static;
        
    }
}