.footer__copyright{
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  display: flex;
  margin-left: 19%;
  margin-bottom: 0;
  padding-top: 35px;
}
@media (max-width : 1280px){
.footer__copyright{
  display: flex;
  margin-left: 10%;
    }
}
@media (max-width : 1026px){
.footer__copyright{
  display: flex;
  margin-left: 10%;
    }
}
@media (max-width : 904px){
    .footer__copyright{
        display: flex;
        margin-left: 3%;
        padding-top: 20px;
    }
}
@media (max-width : 400px){
    .footer__copyright{
        display: flex;
       
        margin-top: 1vw;
    }
}