.intro__text_two{
font-weight: bold;
font-size: 13px;
line-height: 20px;
width: 100vw;
list-style-type: none;
padding-left: 0;
}
@media (max-width : 375px){
    .intro__text_one{
    font-size: 16px;
    line-height: 27px;
        }
    }