@import url(./__lang/header__lang.css);
@import url(./__lang/__lang_active/header__lang_active.css);

.header__langs{
  display: flex;
  color: #FFFFFF;
  margin-top:30px;
  justify-content:flex-end;
  font-size: 24px;
  line-height: 23px;
  position: relative;
  margin-right: 128px;
  margin-top: 47px;
}

@media (max-width : 1280px){
.header__langs{
  margin-right: 48px;    
    }
}
@media (max-width : 768px){
.header__langs{
  margin-right: 24px;  
    }
}
@media (max-width : 376px){
.header__langs{
  margin-right: 16px;
  margin-top: 33px; 
    }
}