@import url(./__lang_active/header__lang_active.css);

.header__lang{
  display: flex;
  color: #FFFFFF;
  margin-top:30px;
  left: 80%;
  text-decoration: none;
  
  
}
.header__lang:hover{
  opacity: 0.7;
  transition: all 0.5s ease;
}


@media (max-width : 375px){
    .header__lang{
    
    font-size: 18px;
line-height: 17px;
    }
}