.lang__en_place_header{
    height: 23px;
    width: 30px;  
    font-size: 24px;
    color:#FFFFFF;  
    text-decoration: none;
  }
  .lang__en_place_header:hover{opacity: 50%;
    transition: all 1s ease;}

@media (max-width : 375px){
    .lang__en_place_header{
      font-size: 18px;
      line-height: 17px;
        }
    }