.video__duration{
  color: #FFFFFF;
  padding-left: 30px;
  font-size: 16px;
  line-height: 23px;
  margin-top: 94px;
  margin-bottom: 12px;
  
}
@media (max-width : 953px){
.video__duration{
  margin-bottom:0;
        }
    }
    @media (max-width : 953px){
      .video__duration{
        margin-bottom:0;
        padding-top: 9%;        }
          }