.lead__caption{
    max-width: 48vw;
    display: grid;
    margin-top: 0;
    position: relative;
    justify-self: baseline;
    font-size: 10px;
    line-height: 12px;
    
    
    
}
@media (max-width : 375px){
    .lead__caption{
        font-size: 10px;
        margin-left: 0;
    }
}
