.cover__title{
    font-size: 72px;
    line-height: 78px;
    z-index: 1;
    margin-top:23%;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
    position: absolute;
}

@media (max-width : 1026px){
    .cover__title{
    width: 57%;
  margin-top: 21%;
        }
    }

@media (max-width : 1020px){
    .cover__title{
        width: 72%;
        margin-top: 21%;
        }
    }

@media (max-width : 760px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        }
    }
@media (max-width : 375px){
.cover__title{
    margin-top: 28%;
            }
        }
@media (max-width : 375px){
.cover__title{
margin-top: 20%;
width: 80%;
                        }
                    }    
