.cover__title{
    font-size: 72px;
    line-height: 78px;
    z-index: 1;
    margin-top:20%;
    text-align: center;
    font-weight: bold;
}
@media (max-width : 375px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        }
    }
@media (max-width : 375px){
.cover__title{
    font-size: 32px;
    line-height: 35px;
    }
}