.video__item_play-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: background-color linear .3s;
}
.video__item_type-kamchatka:hover .video__item_play-overlay{
    transition: background-color linear .3s;
    background-color: rgba(0, 0, 0, 0.5); 
}
.video__item_type-observatory:hover .video__item_play-overlay{
    transition: background-color linear .3s;
    background-color: rgba(0, 0, 0, 0.5); 
}