.comments__content-title{
    font-size: 72px;
    line-height: 108.9%;
    text-align: center;
    width: 60%;
    margin: 10% auto;
    margin-bottom: 48px;
    font-weight: 900;
}
@media (max-width : 1025px){
  .comments__content-title{
    width: 75%;
  }
}
@media (max-width : 769px){
    .comments__content-title{
  font-size: 42px;
  line-height: 46px;
    }
}
@media (max-width : 375px){
    .comments__content-title{
  font-size: 32px;
  line-height: 35px;}
    }
