@import url(./__nav/footer__nav.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
.footer{
    display: flex;
    position: relative;
    margin-top: 10%;
    padding-bottom: 48px;
    margin-left: 2%;
    
}
@media (max-width : 780px){
    .footer{
        margin-top: 0;
    }
}
@media (max-width : 758px){
    .footer{
        flex-direction: column;
    }
}
