@import url(./place__website_url-heading.css);
@import url(./place__website_url.css);
.place__website{
    color: #FFFFFF;
    align-self: end;
    margin-bottom: 60px;
    
}
@media (max-width : 768px){
    .place__website{
margin-bottom: 51px;
        
    }
}
@media (max-width : 600px){
    .place__website{
        margin-top: 0;
        padding-top: 0;
        margin-left: 10%;
        visibility: hidden;
        
    }
}