.video__subtitle{
    font-size: 14px;
    line-height: 15px;
    margin-top: 18px;
    margin-left: 30px;
    color: #FFFFFF;
    margin-bottom: 0;

    }

@media (max-width : 769px){
.video__subtitle{
  padding-top: 5%;
                  
                    }
                }
    @media (max-width : 380px){
.video__subtitle{
  padding-bottom: 4%;
          
            }
        }