.video__content-subtitle{
  width: 40%;
  text-align: center;
  margin: 4% auto;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;

}
@media (max-width : 1025px){
  .video__content-subtitle{
    width:70%;
    margin-bottom: 73px;
    margin-top: 48px;
      }
  }
@media (max-width : 767px){
.video__content-subtitle{
  width:70%;
    }
}
@media (max-width : 375px){
.video__content-subtitle{
  font-size: 16px;
  line-height: 23px;
  width:70%;
  font-size: 16px;
  line-height: 23px;
        }
    }
